<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>03_AngularJS 进阶-Services 的应用</title>
	<link rel="stylesheet" href="css/foundation.min.css"/>
</head>
<body style="padding: 10px;" ng-app="app">
	<div ng-controller="FCtrl">
		<input type="text" ng-model="data.msg" />
		<h2>{{data.msg}}</h2>
	</div>
	<div ng-controller="SCtrl">
		<input type="text" ng-model="data.msg" />
		<h2>{{data.msg}}</h2>
	</div>
<script src="js/angular.min.js"></script>
<script src="js/app2.js"></script>
</body>
</html>